.cuisineItem {
  margin-bottom: 20px;
}

.cuisineContainer {
  margin: auto;
  width: 60%;
}

.loadingIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
}

.postcodeContainer {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
}
