.cuisineBanner {
  height: 160px;
  opacity: 50%;
  position: absolute;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
}

.cBImage {
  background-size: cover;
  z-index: -10;
  border-radius: 10px;
}

.cBTint {
  background-color: black;
  z-index: -5;
}

.cuisineCard {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 160px;
  position: relative;
  border-radius: 10px;
}

.title {
  color: var(--white-color);
  font-size: xxx-large;
  margin-left: 5%;
  margin-top: 5%;
}
