.cuisineItem {
  margin-bottom: 20px;
}

.cuisineContainer {
  margin: auto;
  width: 60%;
}

.loadingIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
}

.postcodeContainer {
  align-items: center;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 20px 10px;
}
