ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

/* UTILS */
.flexCol {
  display: flex;
  flex-direction: column;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.borderRound {
  border-radius: 10px;
}

.bBGray {
  border-bottom: 1px solid var(--gray-color);
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
}

/* || COMMON */

/* | ERROR */
.errorContainer {
  height: 300px;
  margin: auto;
}

/* | FOOTER */
.footer {
  border-top: 0.5px solid lightgray;
}

/* | FORM */
.form {
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: auto; */
}

.error {
  color: var(--red-color);
  font-style: italic;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.input {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--gray-color);
  width: 100%;
}

.inputError {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--red-color);
  width: 100%;
  box-sizing: border-box;
}

.formElement {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* | FORM FIELD */
.formFieldError {
  color: var(--red-color);
  font-style: italic;
  padding: 5px;
}

.formField {
  width: 80%;
}

.formLabel {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 10px;
}

.required {
  color: var(--red-color);
}

/* | LOADING ICON */
.loadingIcon {
  margin-top: 200px;
}

/* | NAVBAR */
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

.navbar {
  font-family: "Yellowtail", cursive;
  height: 80px;
  margin-bottom: 20px;
  font-size: 150%;
  padding: 30px 0;
  border-bottom: 0.5px solid lightgray;
  box-shadow: 0px 1px 2px rgba(211, 211, 211, 0.712);
  text-align: center;
}

.logoLink:link {
  color: var(--red-color);
}

.logoLink:visited {
  color: var(--red-color);
}

/* || HOMEPAGE */
/* | CUISINE CARD */
.cuisineBanner {
  height: 160px;
  opacity: 50%;
  position: absolute;
  width: 100%;
}

.cBImage {
  background-size: cover;
  z-index: -10;
}

.cBTint {
  background-color: black;
  z-index: -5;
}

.cuisineCard {
  align-items: center;
  height: 160px;
  position: relative;
}

.cuisineTitle {
  color: var(--white-color);
  font-size: xxx-large;
  margin-left: 5%;
  margin-top: 5%;
}

/* | CUISINE LIST */
.cuisineItem {
  margin-bottom: 20px;
}

/* | HOMEPAGE */
.cuisineContainer {
  margin: auto;
  width: 60%;
}

/* POSTCODE CHECKER */
.postcodeContainer {
  align-items: center;
  margin-bottom: 15px;
  padding: 20px 10px;
  border: 1px solid gray;
}

/* | RESTAURANT CARD */
.closed {
  color: var(--red-color);
  margin-right: 15px;
}

.restaurantCard {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  position: relative;
}

.restaurantClosed {
  cursor: initial;
}

.restaurantInfo {
  align-items: center;
  justify-content: flex-end;
  width: 65%;
}

.open {
  color: var(--green-color);
  margin-right: 15px;
}

.overlay {
  background-color: var(--red-color);
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  width: 100%;
}

.restaurantCard:hover {
  background-color: whitesmoke;
}

/* | RESTAURANT LIST */
.restaurantItem {
  border: 1px solid var(--gray-color);
  margin-top: 5px;
}

/* || MENU */
/* | BASKET */
.basketContainer {
  border: 1px solid gray;
  border-radius: 5px;
  margin: auto;
  padding: 15px 30px;
  text-align: center;
  width: 320px;
}

.basketHeader {
  padding-bottom: 10px;
  margin: 0;
}

.basketListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 5px;
  height: 20px;
  font-size: large;
}

.checkoutButton {
  background-color: orange;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  padding: 15px 20px;
  width: 100%;
}

.checkoutButton:hover {
  background-color: rgba(255, 166, 0, 0.753);
}

.checkoutButton:disabled {
  background-color: rgba(255, 166, 0, 0.521);
  color: rgba(0, 0, 0, 0.664);
  cursor: not-allowed;
}

[class~="basketListItem"]:first-of-type {
  margin-top: 15px;
}

.subtotalContainer {
  justify-content: space-between;
  margin-bottom: 16px;
}

.subtotalElement {
  font-weight: bold;
}

.basketButton {
  display: none;
}

.minus:hover {
  background-color: #ff4c4cd3;
}

.plus:hover {
  background-color: rgba(0, 128, 0, 0.788);
}

.basketListItem:hover .basketButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin: 0 3px;
  width: 20px;
}
/* | BASKET ITEM */

/* | DELIVERY TOGGLE */
.deliveryToggle {
  margin-right: 5px;
}

.deliveryToggleCont {
  border: 1px solid gray;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px 30px;
  text-align: center;
  font-size: larger;
  font-weight: 500;
  justify-content: space-evenly;
  width: 320px;
}

/* | ITEM CARD */
.itemCardContainer {
  background-color: white;
  border: 1px solid var(--gray-color);
  /* border-bottom: none; */
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 0 15px;
  padding-bottom: 15px;
  padding-top: 5px;
  width: 100%;
}

.itemCardElement {
  margin-bottom: 0;
}

/* [class~="subMenuList"]:last-child {
  border-bottom: 1px solid var(--gray-color);
} */

.itemPrice {
  font-weight: 500;
  font-size: large;
  margin-bottom: 0;
}

.itemTitlePrice {
  justify-content: space-between;
  width: 100%;
}

.itemCardContainer:hover {
  background-color: whitesmoke;
}

/* | MENU */
.menuBasketContainer {
  width: 35%;
}

.menuCardContainer {
  width: 50%;
  margin: 0 50px;
}

.menuLocatorContainer {
  width: 15%;
}

.menuPageContainer {
  margin: auto;
  width: 90%;
}

/* | MENU LOCATOR */
.locatorButton {
  display: block;
  padding: 8px 3px;
  width: 80%;
}

.locatorButton.active {
  color: white;
  background-color: var(--blue-color);
}

.locatorButton:hover {
  color: white;
  background-color: var(--blue-color);
  cursor: pointer;
}

.categoryListItem {
  width: 70%;
}

.menuLocatorContainer {
  margin: auto;
  margin-right: 30px;
  padding-left: 10px;
  position: sticky;
  top: 15;
  margin: 0;
}

.menuLocatorHeader {
  margin: 0;
  padding: 10px 0;
}

/* | MENU MODALS */
/* GENERAL MODAL */

.addToBasketButton {
  background-color: orange;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: large;
  margin-top: 20px;
  padding: 5px 20px;
  justify-content: space-between;
  width: 80%;
}

.addToBasketButtonInfo {
  padding: 10px;
  font-weight: bold;
}

.counter {
  font-size: large;
  margin: 0 10px;
}

.counterButton {
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  height: 35px;
  font-size: large;
  margin: 0 8px;
  width: 35px;
}

.counterButton:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.counterContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.menuModalContainer {
  align-items: center;
  width: 400px;
  text-align: center;
}

.menuModalInfo {
  margin-bottom: 50;
}

.minus {
  background-color: var(--red-color);
}

.modalPrice {
  font-size: larger;
  font-weight: 500;
}

.plus {
  background-color: rgb(96, 240, 68);
}

.smallButton {
  justify-content: center;
  align-items: center;
  height: 20px;
  margin: 0 3px;
  width: 20px;
}

/* MODAL WITH OPTIONS */
.addToBasketButton:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.button {
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: large;
  padding: 10px 0;
  width: 200px;
}

.option {
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.optionPlus {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: rgb(96, 240, 68);
}

.option:hover {
  background-color: rgb(96, 240, 68);
}

.optionsList {
  margin-bottom: 15px;
}

.optionsListItem {
  margin-bottom: 5px;
}

/* | RESTAURANT DETAILS */
.restaurantDetails {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
}

/* | SUBMENU CARD */
.subMenuCardContainer {
  margin-bottom: 30px;
}

.subMenuCardHeader {
  margin-bottom: 0;
}

/* | ORDER DETAILS */
.disabled-link {
  pointer-events: none;
}

@media (max-width: 1000px) {
  .cuisineContainer {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .cuisineContainer {
    width: 95%;
  }
}

@media (max-width: 550px) {
  .restaurantCard {
    flex-direction: column;
    padding: 0;
  }
  .restaurantInfo {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .menuLocatorContainer {
    display: none;
  }

  .menuCardContainer {
    margin-left: 0;
  }
}
