.basketContainer {
  background-color: var(--white-color);
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 15px 30px;
  text-align: center;
  width: 75%;
}

.basketHeader {
  padding-bottom: 10px;
  margin: 0;
}

.basketListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

[class~="basketListItem"]:first-of-type {
  margin-top: 15px;
}

.subtotalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtotalElement {
  margin-bottom: 0;
}

li.basketListItem:first-child {
  padding-top: 10px;
}

.checkoutBtn {
  width: 100%;
  text-align: center;
  padding: 10px;
  justify-content: center;
}
