.itemCardContainer {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px;
  width: 100%;
}

.itemCardElement {
  margin-bottom: 0;
}

.itemCardWrapperButton {
  background-color: white;
  border: 1px solid var(--gray-color);
  border-bottom: none;
  padding-bottom: 10px;
  /* border-radius: 5px; */
  box-sizing: border-box;
  cursor: pointer;
  /* margin-bottom: 10px; */
  width: 100%;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
}

[class~="subMenuList"]:last-child {
  border-bottom: 1px solid var(--gray-color);
  /* border-radius: 0 0 5px 5px; */
}

/* [class~="subMenuList"]:first-child .itemCardWrapperButton {
  border-radius: 5px 5px 0 0;
} */

.itemTitlePrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.itemCardWrapperButton:hover {
  background-color: whitesmoke;
}

.itemCardContainer:hover {
  background-color: whitesmoke;
}
