.categoryList li.active {
  background-color: var(--blue-color);
}

.categoryList li:hover {
  background-color: var(--blue-color);
  cursor: pointer;
}

.locatorButton {
  display: block;
  padding: 8px 3px;
  width: auto;
}

.locatorButton.active {
  color: white;
}
.locatorButton:hover {
  color: white;
}

.categoryListItem {
  width: 70%;
}

.menuLocatorContainer {
  margin: auto;
  margin-right: 30px;
  padding-left: 10px;
  position: sticky;
  top: 15;
}

.menuLocatorHeader {
  margin: 0;
  padding: 10px 0;
}
