.cuisineBanner {
  height: 160px;
  opacity: 50%;
  position: absolute;
  width: 100%;
}

.cBImage {
  background-size: cover;
  z-index: -10;
}

.cBTint {
  background-color: black;
  z-index: -5;
}

.cuisineCard {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 160px;
  position: relative;
}

.title {
  color: whitesmoke;
  font-size: xxx-large;
  margin-left: 5%;
  margin-top: 5%;
}
