.errorContainer {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: auto;
  opacity: 0.8;
  text-align: center;
  width: 60%;
}

.errorHeader {
  margin-top: 0;
}
