.formFieldError {
  box-sizing: border-box;
  color: var(--red-color);
  font-style: italic;
  padding: 5px;
  width: 100%;
}

.formField {
  width: 80%;
}

.formLabel {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
}

.fieldRequired {
  color: var(--red-color);
}
