@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

.navbar {
  font-family: "Yellowtail", cursive;
  color: var(--red-color);
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 150%;
  padding: 30px 0;
  border-bottom: 0.5px solid lightgray;
  box-shadow: 0px 1px 2px rgba(211, 211, 211, 0.712);
}

.logoLink:link {
  color: var(--red-color);
}

.logoLink:visited {
  color: var(--red-color);
}
